/* line 1, ../compass/sass/hover.scss */
.grid {
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

/* line 9, ../compass/sass/hover.scss */
.grid li {
  display: inline-block;
  width: 440px;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}

/* line 18, ../compass/sass/hover.scss */
.grid figure {
  margin: 0;
  position: relative;
}

/* line 23, ../compass/sass/hover.scss */
.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

/* line 29, ../compass/sass/hover.scss */
.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #2c3f52;
  color: #ed4e6e;
}

/* line 38, ../compass/sass/hover.scss */
.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}

/* line 44, ../compass/sass/hover.scss */
.grid figcaption span:before {
  content: 'by ';
}

/* line 48, ../compass/sass/hover.scss */
.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #ed4e6e;
  color: #fff;
}

/* Caption Style 6 */
/* line 57, ../compass/sass/hover.scss */
.cs-style-6 figure img {
  z-index: 10;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

/* line 64, ../compass/sass/hover.scss */
.no-touch .cs-style-6 figure:hover img,
.cs-style-6 figure.cs-hover img {
  -webkit-transform: translateY(-50px) scale(0.5);
  -moz-transform: translateY(-50px) scale(0.5);
  -ms-transform: translateY(-50px) scale(0.5);
  transform: translateY(-50px) scale(0.5);
}

/* line 72, ../compass/sass/hover.scss */
.cs-style-6 figcaption {
  height: 100%;
  width: 100%;
}

/* line 77, ../compass/sass/hover.scss */
.cs-style-6 figcaption h3 {
  margin-top: 60%;
}

/* line 81, ../compass/sass/hover.scss */
.cs-style-6 figcaption a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
