@font-face {
  font-family: 'gotham-ultra';
  src: url("../fonts/.eot"), url("../fonts/gotham.woff") format("woff"), url("../fonts/gotham.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
}
/* line 10, ../compass/sass/style.scss */
body {
  background-image: url(../img/bg.jpg);
  background-size: auto;
  background-repeat: space;
  text-shadow: 0 0 0.1em #b3caf6, 0 0 0.2em #b3caf6;
  font-family: 'gotham-ultra', 'Roboto', sans-serif;
  color: aquamarine;
  width: 102%;
  overflow-x: hidden;
}

/* line 22, ../compass/sass/style.scss */
.navbar {
  opacity: 1;
  display: none;
}

/* line 27, ../compass/sass/style.scss */
.navbar-inverse .navbar-nav > li > a {
  color: aquamarine;
}

/* line 31, ../compass/sass/style.scss */
.navbar-static-top {
  margin-top: 100px;
}

/* line 35, ../compass/sass/style.scss */
.parallax {
  height: 600px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed !important;
  overflow: hidden;
}

/* line 43, ../compass/sass/style.scss */
.parallax.middle {
  min-width: 500px;
}

/* line 48, ../compass/sass/style.scss */
.vertical-divider {
  margin: 10px;
  font-size: 1em;
  color: #fff;
}

/* line 54, ../compass/sass/style.scss */
#home {
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: aquamarine;
}

/* line 62, ../compass/sass/style.scss */
#video-viewport {
  min-width: 900px;
}

/* line 66, ../compass/sass/style.scss */
video {
  width: 100%    !important;
  height: auto   !important;
  margin-bottom: -6px;
}

/* line 72, ../compass/sass/style.scss */
.overlay {
  width: 470px;
  height: 300px;
  border-radius: 5%;
  background: rgba(0, 0, 0, 0.1);
  display: block;
  position: absolute;
  top: 10%;
  left: 10%;
  visibility: hidden;
}

/* line 84, ../compass/sass/style.scss */
.willb {
  text-align: center;
  padding-top: 100px;
  font-family: inherit;
  font-size: 50px;
}

/* line 95, ../compass/sass/style.scss */
.icon img {
  height: 100px;
  margin-bottom: -17px;
  border-radius: 0;
}

/* line 104, ../compass/sass/style.scss */
.icon-nav img {
  height: 52px;
  margin-top: -16px;
  border-radius: 0;
}

/* line 110, ../compass/sass/style.scss */
.webdev {
  font-size: 20px;
}

/* line 114, ../compass/sass/style.scss */
.row.webdev {
  margin-bottom: 15px;
}

/* line 127, ../compass/sass/style.scss */
.overlay p {
  text-align: center;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  color: #fff;
  font-family: inherit;
  margin-bottom: 15px;
  display: inline;
  color: aquamarine;
}

/* line 139, ../compass/sass/style.scss */
#skills {
  background-image: url("../img/bg.jpg");
  background-size: auto;
  height: 600px;
  overflow: hidden;
}

/* line 146, ../compass/sass/style.scss */
.revolving-row {
  margin-top: 25px;
}

/* line 150, ../compass/sass/style.scss */
.about {
  min-width: 700px;
  margin-top: 20px;
  font-style: italic;
  letter-spacing: 1px;
  word-spacing: 13px;
  color: black;
}

/* line 159, ../compass/sass/style.scss */
.about img {
  height: 75px;
  border-radius: 0px;
  margin-top: 35px;
}

/* line 165, ../compass/sass/style.scss */
#portfolio {
  background-image: url("../img/bg.jpg");
  background-size: auto;
}

/* line 178, ../compass/sass/style.scss */
.white-container {
  width: 100%;
  height: 174px;
  background: black;
}

/* line 212, ../compass/sass/style.scss */
.service-box {
  margin: 50px auto 0;
  max-width: 400px;
}

/* line 217, ../compass/sass/style.scss */
.service-box img {
  height: 150px;
  transition: all 0.4s;
}

/* line 222, ../compass/sass/style.scss */
.mean img {
  margin-left: -25px;
}

/* line 226, ../compass/sass/style.scss */
.quote {
  margin-top: 100px;
  color: black;
  font-size: 40px;
  min-width: 75%;
}

/* line 238, ../compass/sass/style.scss */
#portfolio img {
  border-radius: 0;
  height: 250px;
}

/* line 245, ../compass/sass/style.scss */
h2.section-heading {
  margin-top: 50px;
  font-weight: bold;
  color: aquamarine;
}

/* line 251, ../compass/sass/style.scss */
#portfolio .portfolio-item {
  box-sizing: border-box;
  margin: 30px 0px 10px 0px;
  min-width: 33.33%;
}

/* line 258, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

/* line 264, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: aquamarine;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all ease 0.5s;
}

/* line 273, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

/* line 277, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 10px;
}

/* line 285, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}

/* line 292, ../compass/sass/style.scss */
#portfolio a {
  color: white;
  text-decoration: none;
}

/* line 297, ../compass/sass/style.scss */
#loader {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: radial-gradient(#898989, #121212);
  text-align: center;
}

/* line 308, ../compass/sass/style.scss */
.atom-text {
  position: absolute;
  left: 47%;
  top: 30%;
}

/* line 318, ../compass/sass/style.scss */
.contact-icon img {
  height: 125px;
  transition: all 0.4s;
}

/* line 323, ../compass/sass/style.scss */
#contact a {
  color: aquamarine;
}

/* line 327, ../compass/sass/style.scss */
.container-footer {
  width: 100%;
}

/* line 331, ../compass/sass/style.scss */
.navbar-inner {
  text-align: center;
  font-size: 10px;
}

/* line 336, ../compass/sass/style.scss */
.navbar {
  margin-bottom: 0;
}

/* line 341, ../compass/sass/style.scss */
#contact-wrapper {
  background-image: url(../img/bg.jpg);
  background-size: auto;
}

/* line 345, ../compass/sass/style.scss */
.icon-wrapper {
  margin-top: 100px;
  margin-bottom: 150px;
}

/* line 351, ../compass/sass/style.scss */
#contact-me {
  margin-left: 15px;
}

/* line 355, ../compass/sass/style.scss */
.contact-icon {
  margin-top: 100px;
}

/* line 359, ../compass/sass/style.scss */
#message.form-control {
  height: 200px;
}

/* line 363, ../compass/sass/style.scss */
.labels {
  width: 100%;
}
