@font-face {
  font-family: 'gotham-ultra';
  src: url("../fonts/.eot"), url("../fonts/gotham.woff") format("woff"), url("../fonts/gotham.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
}
/* line 9, ../compass/sass/style.scss */
.parallax {
  height: 800px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed !important;
  overflow: hidden;
}

/* line 16, ../compass/sass/style.scss */
.parallax background-image {
  height: 500px;
}

/* line 19, ../compass/sass/style.scss */
.vertical-divider {
  margin: 10px;
  font-size: 1em;
  color: #fff;
}

/* line 25, ../compass/sass/style.scss */
body {
  background: radial-gradient(#898989, #121212);
  font-family: 'gotham-ultra', 'Roboto', sans-serif;
  color: white;
  width: 100%;
}

/* line 32, ../compass/sass/style.scss */
.navbar {
  opacity: .4;
}

/* line 36, ../compass/sass/style.scss */
.navbar-static-top {
  margin-top: 100px;
}

/* line 40, ../compass/sass/style.scss */
#home {
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: white;
  margin-top: 50px;
  width: 100%;
  margin-top: 50px;
}

/* line 51, ../compass/sass/style.scss */
#video-viewport {
  min-height: 100%;
  min-width: 100%;
}

/* line 56, ../compass/sass/style.scss */
video {
  min-width: 100%;
}

/* line 60, ../compass/sass/style.scss */
.overlay {
  width: 470px;
  height: 300px;
  border-radius: 5%;
  background: rgba(0, 0, 0, 0.1);
  display: block;
  position: absolute;
  top: 20%;
  left: 10%;
  visibility: hidden;
}

/* line 72, ../compass/sass/style.scss */
.willb {
  text-align: center;
  padding-top: 100px;
  color: #fff;
  font-family: inherit;
  font-size: 60px;
  opacity: .8;
}

/* line 81, ../compass/sass/style.scss */
.webdev {
  font-size: 25px;
}

/* line 84, ../compass/sass/style.scss */
.row.webdev {
  margin-bottom: 15px;
  margin-top: 10px;
}

/* line 98, ../compass/sass/style.scss */
.overlay p {
  text-align: center;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  color: #fff;
  font-family: inherit;
  margin-bottom: 15px;
  display: inline;
}

/* line 109, ../compass/sass/style.scss */
#skills {
  margin-top: 150px;
  margin-bottom: 300px;
}

/* line 114, ../compass/sass/style.scss */
#portfolio {
  margin-top: 250px;
  margin-bottom: 250px;
}

/* line 119, ../compass/sass/style.scss */
#contact {
  margin-top: 250px;
  margin-bottom: 250px;
}

/* line 124, ../compass/sass/style.scss */
.white-container {
  width: 100%;
  margin-top: -5px;
  height: 174px;
  background: white;
}

/* line 157, ../compass/sass/style.scss */
.service-box {
  margin: 50px auto 0;
  max-width: 400px;
}

/* line 162, ../compass/sass/style.scss */
.service-box img {
  height: 150px;
  transition: all 0.4s;
}

/* line 167, ../compass/sass/style.scss */
.mean img {
  margin-left: -25px;
}

/* line 176, ../compass/sass/style.scss */
#portfolio img {
  height: 300px;
  width: 300px;
}

/* line 181, ../compass/sass/style.scss */
h2.section-heading {
  margin-top: 50px;
  font-weight: bold;
  color: black;
}

/* line 187, ../compass/sass/style.scss */
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}

/* line 192, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

/* line 199, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: aquamarine;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all ease 0.5s;
}

/* line 208, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

/* line 212, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 10px;
}

/* line 220, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}

/* line 238, ../compass/sass/style.scss */
.atom-text {
  position: absolute;
  left: 47%;
  top: 30%;
}

/* line 248, ../compass/sass/style.scss */
#contact img {
  height: 150px;
  transition: all 0.4s;
}

/* line 253, ../compass/sass/style.scss */
#contact a {
  color: aquamarine;
}

/* line 257, ../compass/sass/style.scss */
.container-footer {
  width: 100%;
}

/* line 261, ../compass/sass/style.scss */
.navbar-inner {
  text-align: center;
  font-size: 10px;
}

/* line 266, ../compass/sass/style.scss */
.navbar {
  margin-bottom: 0;
}
