/* line 1, ../compass/sass/style.scss */
body {
  background: radial-gradient(#898989, #121212);
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 100%;
}

/* line 7, ../compass/sass/style.scss */
header {
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: white;
  height: 103%;
  margin-top: 50px;
  /*margin: auto;*/
  /*background-image: url('../img/gc2.jpg');*/
}

/* line 19, ../compass/sass/style.scss */
.navbar {
  opacity: .4;
}

/* line 22, ../compass/sass/style.scss */
.navbar-static-top {
  margin-top: 100px;
}

/* line 26, ../compass/sass/style.scss */
#home {
  width: 100%;
}

/* line 29, ../compass/sass/style.scss */
video {
  width: 104%;
  margin-left: -15px;
  height: 100%;
}

/* line 34, ../compass/sass/style.scss */
.overlay {
  width: 300px;
  height: 300px;
  border-radius: 5%;
  background: rgba(0, 0, 0, 0.1);
  display: block;
  position: absolute;
  top: 10%;
  left: 10%;
}

/* line 45, ../compass/sass/style.scss */
.overlay h1 {
  text-align: center;
  padding-top: 100px;
  color: #fff;
  font-family: inherit;
  font-size: 60px;
  opacity: .8;
}

/* line 55, ../compass/sass/style.scss */
.overlay p {
  text-align: center;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  color: #fff;
  font-family: inherit;
  margin-bottom: 15px;
}

/* line 65, ../compass/sass/style.scss */
#skills {
  margin-top: 150px;
  margin-bottom: 300px;
}

/* line 70, ../compass/sass/style.scss */
#portfolio {
  margin-top: 250px;
  margin-bottom: 250px;
}

/* line 74, ../compass/sass/style.scss */
#contact {
  margin-top: 250px;
  margin-bottom: 250px;
}

/* line 79, ../compass/sass/style.scss */
.white-container {
  width: 100%;
  margin-top: -5px;
  height: 174px;
  background: white;
}

/* line 111, ../compass/sass/style.scss */
.service-box {
  margin: 50px auto 0;
  max-width: 400px;
}

/* line 116, ../compass/sass/style.scss */
.service-box img {
  height: 150px;
  transition: all 0.4s;
}

/* line 121, ../compass/sass/style.scss */
.mean img {
  margin-left: -25px;
}

/* line 130, ../compass/sass/style.scss */
#portfolio img {
  height: 300px;
  width: 300px;
}

/* line 134, ../compass/sass/style.scss */
h2.section-heading {
  margin-top: 50px;
  font-weight: bold;
  color: black;
}

/* line 139, ../compass/sass/style.scss */
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}

/* line 143, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

/* line 149, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: aquamarine;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all ease 0.5s;
}

/* line 157, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

/* line 161, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 10px;
}

/* line 169, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}

/* line 185, ../compass/sass/style.scss */
.atom-text {
  position: absolute;
  left: 47%;
  top: 30%;
}

/* line 194, ../compass/sass/style.scss */
#contact img {
  height: 150px;
  transition: all 0.4s;
}

/* line 198, ../compass/sass/style.scss */
#contact a {
  color: aquamarine;
}

/* line 201, ../compass/sass/style.scss */
.container-footer {
  width: 100%;
}

/* line 205, ../compass/sass/style.scss */
.navbar-inner {
  text-align: center;
  font-size: 10px;
}

/* line 209, ../compass/sass/style.scss */
.navbar {
  margin-bottom: 0;
}
